body {
	background-color: #e9eaed;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	text-align: center;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #45619d;
}
